@{
	ViewData["Title"] = "Home Page";
}
<head>
	
</head>

<body>
	<div class="text-center">
		<h1 class="display-4">Welcome</h1>
		<form action="">
			<input type="text" placeholder="Search.." name="search">
			<button type="submit"><i class="fa fa-search"></i></button>
		</form>
		<br />
	</div>
	
	<div class="row row-cols-1 row-cols-md-2 g-4">

			@{
				foreach (var Data in Model)
				{
			
			  <div class="col d-flex">
				<div class="card w-100">
				  <img  src=@Data.Picture class="card-img-top" style="height: 400px" alt="...">
				  <div class="card-body">
					<h5 class="card-title text-center">@Data.Name</h5>
					<p class="card-text text-center">@Data.Mileage km</p>
					<p class="card-text text-center">@Data.Price BAM</p
					<p class="card-text text-center">@Enum.GetName(typeof(TransmissionEnum), Data.Transmission)</p>
					@if(User.IsInRole("Administrator"))
							{
								<div class="row row-cols-1" >
								<a asp-controller="Vehicles" asp-action="Edit" asp-route-id="@Data.Id" class="btn btn-primary py-2 px-4">Edit</a>
								<a asp-controller="Vehicles" asp-action="Delete" asp-route-id="@Data.Id" class="btn btn-secondary py-2 px-4">Delete</a>
								</div>
							}
					@if(User.IsInRole("RegisteredUser"))
							{
								<div class="row row-cols-1">
								<a asp-controller="Vehicles" asp-action="Details" asp-route-id="@Data.Id" class="btn btn-outline-primary py-2 px-4">Details</a>
								
								</div>
							}
						</div>
				</div>
			  </div>
			  
			
				}
			
			}
	</div>
	</div>


	</div>
</body>