@model NASCAR.Models.Vehicle

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vehicle</h4>
    <hr />
    <div class="card mb-3">
  <h3 class="card-header">@Model.Name</h3>
  <div class="card-body">
    <h5 class="card-title">@Model.Category</h5>

  </div>

    <rect width="100%" height="100%" fill="#868e96"></rect>
    <img class="img-fluid mx-auto" style="height: 350px" src=@Model.Picture  alt="...">

  <div class="card-body">
    <p class="card-text">About car: @Model.Description</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Price: @Model.Price BAM/day</li>
    <li class="list-group-item">Year: @Model.ModelYear</li>
    <li class="list-group-item">Transmission: @Model.Transmission</li>
    <li class="list-group-item">Mileage: @Model.Mileage</li>
    <li class="list-group-item">City: @Model.VehicleAddress.City</li>
    <li class="list-group-item">Transmission: @Model.Transmission</li>
    <li class="list-group-item">Color: @Model.Color</li>
    <li class="list-group-item">Number of seats: @Model.Seats</li>
    <li class="list-group-item">Number of doors: @Model.Doors</li>
  </ul>


</div>
   
        @if (Model.IsReserved == false)
        {
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <div class="card-body">
                        <input type="submit" value="Delete" class="btn btn-danger" /> 
                         <a asp-controller="Home" asp-action="Index" class="ml-1 btn btn-success">Back to Home</a>
                 </div>
            </form>
        }

    
   
    </div>
</div>
