@model IEnumerable<NASCAR.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Your reservations</h1>



<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">Vehicle</th>
          <th scope="col">Total price</th>
          <th scope="col">From date</th>
          <th scope="col">To date</th>
          <th scope="col">Payment type</th>
          <th scope="col">Vehicle details</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr class="table-info">
                <th class="mx-auto" scope="row">@item.Vehicle.Name</th>
                <td class="mx-auto">@item.Price BAM</td>
                <td class="mx-auto">@item.PickUpDate</td>
                <td class="mx-auto">@item.DropDate</td>
                <td class="mx-auto">@item.PaymentType</td>
                <td class="mx-auto"><a class="btn btn-outline-info" asp-controller="Vehicles" asp-action="Details" asp-route-id="@item.Vehicle.Id">Details</a></td>
            </tr>
        }


    </tbody>
</table>


