@model NASCAR.Models.DriversLicence

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DriversLicence</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasBCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasBCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisteredUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisteredUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
