@model IEnumerable<NASCAR.Models.CardDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CVV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfExpiry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisteredUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CVV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfExpiry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisteredUser.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CardNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CardNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CardNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
